/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f6f5f3;
}

/* # UTILS */

.debug,
.debug * {
  background-color: #ff000033;
  border: 2px dashed red;
  padding: 20px 0;
}

.container {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bold {
  font-weight: bold;
}

.mb-20 {
  margin-bottom: 15px;
}

/* Header */

.page-title {
  font-family: "Nerko One", cursive;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: #ff9613;
  background-color: white;
  margin-bottom: 15px;
}

/* main */

/* Recipe-Title */
#recipe-details {
  color: #4e3969;
  font-size: 1.5rem;
}

#recipe-details .category {
  text-transform: uppercase;
  font-weight: normal;
  color: #9f9db0;
  font-size: 1rem;
}

#recipe-details .recipe-title {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

#recipe-details .tradition {
  display: none;
}

/* Recipe Summary */

/* Card Recipe */
#recipe-summary .card-recipe {
  box-shadow: 0px 2px 7px 3px #c4c3c3;
}

#recipe-summary .card-content {
  padding: 1rem;
}

#recipe-summary .card-content h2 {
  padding: 1rem 0;
}

#recipe-summary ul li {
  padding: 0.5rem 0;
}

/* Social Icons */

#social-icons .social-items {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
}

#social-icons .social-item {
  padding: 0.8rem 1rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 7px 3px #c4c3c3;
}

#social-icons .social-item span {
  display: none;
  text-transform: uppercase;
  font-weight: bold;
}

#facebook {
  color: #1a77f3;
}

#x {
  color: black;
}

#instagram {
  color: #e0678c;
}

#pinterest {
  color: #e62325;
}

#youtube {
  color: #e62322;
}

/* Section Adv */
section.adv {
  display: none;
  padding: 1rem 0;
}

/* Section Presentation */

#recipe-presentation {
  padding: 1rem 0;
}

#recipe-presentation h2 {
  padding: 1rem 0;
}

#recipe-presentation .border {
  padding: 1rem 0;
  border-top: 1px solid #f7982e;
  width: 20%;
}

#recipe-presentation img {
  width: 70%;
  padding: 1rem 0;
  display: block;
  margin: 0 auto;
}

#recipe-presentation p {
  line-height: 30px;
  font-size: 1.3rem;
}

/* Footer */

footer {
  background-color: #7c69a4;
  color: white;
}

footer .address span {
  display: block;
  padding: 0.3rem 0;
}

footer .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .footer-links {
  margin: 0.5rem 0;
}

footer .footer-links ul li {
  display: inline-block;
  padding: 0 1rem;
  margin: 0.3rem 0;
}

footer .footer-links ul li a {
  text-decoration: underline;
}

/* dispositivi small-medium */

@media screen and (min-width: 576px) {
  .container {
    max-width: 768px;
  }
  #recipe-presentation img {
    width: 50%;
    float: left;
    margin-right: 5px;
  }
  #social-icons .social-item {
    padding: 0.8rem 2rem;
  }
}

/* Dispositivi medium */

@media screen and (min-width: 768px) {
  .container {
    max-width: 992px;
  }

  .page-title {
    text-align: left;
  }

  #recipe-details .tradition {
    display: inline-block;
  }

  #recipe-summary ul li {
    display: inline-block;
    width: calc(100% / 3 - 1rem);
  }
  #social-icons .social-item {
    padding: 0.8rem 2.5rem;
  }
  section.adv {
    display: block;
  }
}

/* dispositivi xl */

@media screen and (min-width: 992px) {
  .container {
    max-width: 1200px;
  }

  #recipe-summary .card-recipe {
    display: flex;
  }

  #recipe-summary .card-media {
    width: calc(100% / 4 * 3);
  }
  #recipe-summary .card-content {
    width: calc(100% / 4);
  }
  #recipe-summary ul li {
    display: block;
    width: 100%;
  }

  #social-icons .social-item span {
    display: inline-block;
  }

  #recipe-presentation img {
    width: 30%;
  }

  footer .container {
    max-width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}
