/* Variables */
:root {
  --containerW: 540px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f6f5f3;
}

/* # UTILS */

.debug,
.debug * {
  background-color: #ff000033;
  border: 2px dashed red;
  padding: 20px 0;
}

.container {
  max-width: var(--containerW);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;

  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-1-5 {
  width: calc(100% / 5);
}

.col-1-6 {
  width: calc(100% / 6);
}

.btn {
  background-color: #0161fe;
  color: white;
  padding: 5px 10px;
  border: 1px solid transparent;
}

.bold {
  font-weight: bold;
}

.mb-20 {
  margin-bottom: 15px;
}

/* Header */

.page-title {
  font-family: "Nerko One", cursive;
  text-align: center;
  padding: 1rem;
  color: #ff9613;
  background-color: white;
  margin-bottom: 15px;
}

/* main */

/* Recipe-Title */
#recipe-title .category {
  text-transform: uppercase;
  font-weight: normal;
  color: #9f9db0;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

#recipe-title .recipe-title {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

#recipe-title .tradition {
  display: none;
}

/* Recipe Summary */

/* Card Recipe */
#recipe-summary .card-recipe {
  box-shadow: 0px 2px 7px 3px #c4c3c3;
}

#recipe-summary .card-content {
  padding: 1rem;
}

#recipe-summary .card-content h2 {
  padding: 1rem 0;
}

#recipe-summary ul li {
  padding: 0.5rem 0;
}

/* Social Icons */

#social-icons .social-items {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
}

#social-icons .social-item {
  padding: 0.8rem 1rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 7px 3px #c4c3c3;
}

#social-icons .social-item span {
  display: none;
}

/* Section Adv */
section.adv {
  display: block;
  padding: 1rem 0;
}

/* Section Presentation */

#recipe-presentation {
  padding: 1rem 0;
}

#recipe-presentation img {
  width: 70%;
  text-align: center;
}

/* Footer */

footer {
  background-color: #7c69a4;
  color: white;
}

footer .address span {
  display: block;
}

footer .container {
  text-align: center;
}

footer .footer-links ul li {
  display: inline-block;
}
