/* Variables */
:root {
  --containerW: 560px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f6f5f3;
}

/* # UTILS */

.debug,
.debug * {
  background-color: #ff000033;
  border: 2px dashed red;
  padding: 20px 0;
}

.container {
  max-width: var(--containerW);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;

  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-1-5 {
  width: calc(100% / 5);
}

.col-1-6 {
  width: calc(100% / 6);
}

.btn {
  background-color: #0161fe;
  color: white;
  padding: 5px 10px;
  border: 1px solid transparent;
}

.bold {
  font-weight: bold;
}

.mb-10 {
  margin-bottom: 10px;
}

/* Header */

.page-title {
  font-family: "Nerko One", cursive;
  text-align: center;
  padding: 1rem;
  color: #ff9613;
  background-color: white;
}

/* main */

/* Plate-Title */
#recipe-title .recipe-title {
  display: flex;
  gap: 5px;
}

#recipe-title .tradition {
  display: none;
}

/* Card Plate */
#recipe-summary .card-recipe {
  box-shadow: 0px 2px 7px 3px #c4c3c3;
}

#recipe-summary .card-content {
  padding: 1rem;
}

#recipe-summary .card-content h2 {
  padding: 1rem 0;
}

#recipe-summary ul li {
  padding: 0.5rem 0;
}
